.main-container {
    /*height: 100%;*/
}
.main-view {
    position: absolute;
    width: 100%;
}

.margin-xs {
    margin: 8px;
}

.margin-bottom-xs {
    margin-bottom: 8px;
}

.grid-content {
    text-align: center;
    font-size: 1.8em;
    color: #3F51B5;
}

.grid-content small {
    font-size: 0.7em;
}

md-grid-list md-grid-tile md-grid-tile-header h3 {
    font-size: 1em;
}

.text-big {
    font-size: 3.5rem;
}

.text-light-blue {
    color: #c5cae9;
}

/* animation in */
.anim-in-out.anim-in-setup.anim-slide-bottom,
.anim-in-out.anim-in-setup .anim-slide-bottom {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
}

.anim-in-out.anim-in.anim-slide-bottom,
.anim-in-out.anim-in .anim-slide-bottom {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all 500ms;
    transition: all 500ms;
}

/* animation out */
.anim-in-out.anim-out-setup.anim-slide-bottom,
.anim-in-out.anim-out-setup .anim-slide-bottom {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all 500ms;
    transition: all 500ms;
}

.anim-in-out.anim-out.anim-slide-bottom,
.anim-in-out.anim-out .anim-slide-bottom {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 500ms;
    transition: all 500ms;
}