<div class="view-home anim-slide-bottom">
<div class="view-home anim-slide-bottom" ng-cloak>
    <md-content flex>
        <md-toolbar md-scroll-shrink>
            <div class="md-toolbar-tools">
              <h3>
                <span>Foyer fiscal</span>
              </h3>
            </div>
        </md-toolbar>

        <div layout-padding layout="row">
            <md-radio-group ng-model="HomeCtrl.userData.statmarit" flex="50" required>
                <md-radio-button value="2">Célibataire</md-radio-button>
                <md-radio-button value="1">Marié(e)</md-radio-button>
                <md-radio-button value="5">Pacsé(e)</md-radio-button>
                <md-radio-button value="3">Divorcé(e)</md-radio-button>
                <md-radio-button value="4">Veuf ou veuve</md-radio-button>
            </md-radio-group>

            <md-input-container class="md-block" flex="50">
                <label>Nombre d'enfant(s) à charge</label>
                <input type="number" name="enfants" ng-model="HomeCtrl.userData.enfants" required ng-pattern="/^[0-9]*$/">
            </md-input-container>
        </div>
    </md-content>

    <md-content flex>
        <md-toolbar md-scroll-shrink>
            <div class="md-toolbar-tools">
              <h3>
                <span>Revenus</span>
              </h3>
            </div>
        </md-toolbar>

 		<div layout-padding layout="row">
 			<md-input-container flex="50">
                <label>Traitement et salaires du déclarant 1</label>
                <input type="number" ng-model="HomeCtrl.userData.salaire1" required ng-pattern="/^[0-9]*$/">
            </md-input-container>
            <md-input-container flex="50">
                <label>Traitement et salaires du déclarant 2</label>
                <input type="number" ng-model="HomeCtrl.userData.salaire2" required ng-pattern="/^[0-9]*$/">
            </md-input-container>
 		</div>
    </md-content>

    <md-content flex>
   		<md-toolbar md-scroll-shrink>
    		<div class="md-toolbar-tools">
              <h3>
                <span>Charges</span>
              </h3>
            </div>
        </md-toolbar>

     	<div layout-padding>
            <div layout="row">
                <md-input-container flex="50">
                    <label>Dons aux oeuvres</label>
                    <input type="number" ng-model="HomeCtrl.userData.donsOeuvres" required ng-pattern="/^[0-9]*$/">
                </md-input-container>
                <md-input-container flex="50">
                    <label>Frais de garde des jeunes enfants</label>
                    <input type="number" ng-model="HomeCtrl.userData.gardeEnfants" required ng-pattern="/^[0-9]*$/">
                </md-input-container>
            </div>

            <div layout="row">
                <md-input-container class="md-block" flex="50">
                    <label>Dépenses d'équipements pour les personnes handicapées</label>
                    <input type="number" ng-model="HomeCtrl.userData.depensesEquipements" required ng-pattern="/^[0-9]*$/">
                </md-input-container>
            </div>

        </div>

	</md-content>

    <div layout="row" layout-align="center" class="margin-bottom-xs">
        <md-button class="md-fab" aria-label="Use Android" ng-click="HomeCtrl.callAPI()" ng-hide="HomeCtrl.isLoading">
            <md-icon class="material-icons">details</md-icon>
        </md-button>

        <md-progress-circular md-mode="indeterminate" class="md-accent" md-diameter="80" ng-show="HomeCtrl.isLoading"></md-progress-circular>
    </div>
</div>